body{
	font:18px/1.5 century gothic;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

.container{
	width:90%;
	margin:auto;
}

#nav_labels li {

	display: inline-block;
}

#nav_labels a{
	text-decoration: none;
	color:#fff;
	font-size: 14px;
	text-align: center;
	display: block;
	padding-left: 20px; 

}

#nav_labels {
	margin-top: 0px;
	text-align: center;
	padding-left: 50px;

}
nav {
	position: fixed;
}
header{
	background:#35424A;
	min-height:55px;
	border-bottom:3px solid;
	position:sticky;
	top:0;
}


#nav_labels li a:hover{
	color:#ffd700;
}


#page_title{
	text-align:left;
}


footer {
	padding-top:1px;
	font-size: 11px;
	text-align:center;
	background:#35424A;
	color:#ffffff;
	height:55px;
	border-bottom:1px solid;
}

form{
	margin: 10px; 
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 160px;
    text-align: left;
}
input {
  display: inline-block;
}
footer a{
	color: #ffffff;
}

#textblock, #email, #firstname, #submit_feedback{
	font:14px/1.5 century gothic;
}



#email, #firstname{
	width: 200px;
}

#Question1{
	font:14px/1.5 century gothic;
	margin-left: 10%;
}

@media(min-width: 1000px){
	#nav_labels {
		margin-top: 15px;
	}

	#submit_feedback{
		margin-left: 160px;
	}
	#textblock{
		width: 300px;
		height: 150px;
	}
}

#instructor_picture{
	padding-right: 15px;
	padding-bottom: 15px;
	width: 250px;
}


#lab_material li {
	display: inline;
}

#lab_material a{
	padding-left: 30px;
}

.feedback_tbl_row {
	display: table-row;
}

.tbl_cell {
	border-bottom:1px solid #999999;
	display: table-cell;
	padding: 10px 15px;
}


img{
	height: 25px;
	width:70px;
}

.feedback_tbl_row:hover{
	background-color: #7399d6;
}
.feedback_tbl {
	padding-bottom: 10px;
}	