<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 ~ Introduction to Databases and Web Applications </title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <div class="container">

    <div class="heading">CSCB20 - Introduction to Databases and Web Applications</div>
    <div class="overheadnav">  <!-- navigation fixed to the top -->
      <div class="menu_other">
        <div class="menuitem"><h3><a href="{{ url_for('home') }}">Home</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('calendar') }}">Calendar</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('news') }}">News</a></h3></div>
        <div class="menuitem"><h3><a target="_blank" href="https://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('lectures') }}">Lectures</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('labs') }}">Labs</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('assignments') }}">Assignments</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('tests') }}">Tests</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('resources') }}">Resources</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('feedback') }}">Anon. Feedback</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('grades') }}">Grades</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('logout') }}">Logout</a></h3></div>
      </div>
    </div>

  </div>


	<div class="empty_sidebar"> </div>

	<div class="text_alignment2_labs">
	<ul>

<div class="content">
	<h1>Assignments</h1>

	<p>
	 <p><b> Assignment 1 (5%) </b> , Due Date: February 3rd, 2019 @ 11:59 on <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank" > MarkUs </a> </p>

	 <h4><a href="/static/img&docs/assignment.pdf" target="_blank" style="text-decoration:none;" > <u> Assignment1.pdf </u> </a>
	 </h4>
	</p>
</div>

   <div class="content">
	<p>
   <p><b> Assignment 2 (5%) </b> , Due Date: March 13th, 2019 @ 11:59 on <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank" > MarkUs </a> </p>

	 <h4><a href="/static/img&docs/assignment.pdf" target="_blank" style="text-decoration:none;" > <u> Assignment2.pdf </u> </a>
	 </h4>
	</p>
	</p>
</div>


	</div>
	<div class="footer2">
      <a href="http://web.cs.toronto.edu/people/faculty.htm"><h2>Faculty CS UofT</h2></a>
	  <img src ="/static/img&docs/UofTlogo.jpg" alt="UofT Logo" width="150" height="150">
      <h2>Made by Nabil & Muhammad</h2>
    </div>

  </body>

  </html>
