<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 ~ Introduction to Databases and Web Applications </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    {% extends "layout.html" %}
    {% block content %}


    <div class="pageheader">Calendar</div>

    <div class="calendar">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i7fpjosmg511qb7ssiaaavru0k%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FToronto" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

	<div class="footer">
      <a href="http://web.cs.toronto.edu/people/faculty.htm"><h2>Faculty CS UofT</h2></a>
	  <img src ="/static/img&docs/UofTlogo.jpg" alt="UofT Logo" width="150" height="150">
      <h2>Made by Nabil & Muhammad</h2>
    </div>

</body>
  {% endblock %}
</html>
