<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link href="../static/labs_page.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul id="nav_labels">
                {% for nav_elem in nav_elems %}
                    <li><a href="{{ nav_elem.url }}">{{ nav_elem.label}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
<div class="container">
<section id="page_title">
        <h1>CSCB20 Labs</h1>
</section>

<div id="sub_container">
    <section id="lab_material">
        <h3><u>Material</u></h3>
        <ul>
            <li>Lab 1</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 2</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 3</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 4</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 5</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 6</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 7</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 8</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 9</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 10</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>

        <ul>
            <li>Lab 11</li>
            <li><a href="../static/dummy.pdf"> Handout </a></li>
            <li><a href="../static/dummy.pdf"> Solution </a></li>
        </ul>
    </section>

    <section id="time_and_location">
        <h3><u>Schedule and location</u></h3>
        <p>TUT001: Monday 12-1PM (Suhailah) </p>
        <p>TUT002: Tuesday 12-1PM (Suhailah)</p>
        <p>TUT003: Wednesday 12-1PM (Suhailah)</p>
        <p>TUT004: Thursday 12-1PM (Suhailah) </p>
        <p>TUT005: Friday 12-1PM (Suhailah)</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11521.793218907558!2d-79.1868456!3d43.7843098!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b472be0d1cea44c!2sBladen+wing+UTSC!5e0!3m2!1sen!2sca!4v1552233130050" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</div>
</div>


<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" class="footer_links">Department of Computer Science at UofT</a>
    <P>Site designed by Noah & Abdennour</P>
</footer>

</body>
</html>
   