<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 ~ Introduction to Databases and Web Applications </title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
 
  <body>
  
  <div class="container">

    <div class="heading">CSCB20 - Introduction to Databases and Web Applications</div>
    <div class="overheadnav">  <!-- navigation fixed to the top -->
      <div class="menu_other">
        <div class="menuitem"><h3><a href="{{ url_for('home') }}">Home</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('calendar') }}">Calendar</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('news') }}">News</a></h3></div>
        <div class="menuitem"><h3><a target="_blank" href="https://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('lectures') }}">Lectures</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('labs') }}">Labs</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('assignments') }}">Assignments</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('tests') }}">Tests</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('resources') }}">Resources</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('feedback') }}">Anon. Feedback</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('grades') }}">Grades</a></h3></div>
        <div class="menuitem"><h3><a href="{{ url_for('logout') }}">Logout</a></h3></div>
      </div>
    </div>

  </div>

	<div class="empty_sidebar"> </div>

	<div class="text_alignment">
	<ul>

  <h1>Lecture Material</h1>
	 <b>Week 1 (Introduction)</b>
   <div class="content">
  	 <p>
  	 <h4><a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > <u> Lecture Notes </u> </a>
  	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Workheet1 </u> </a>
  	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Solutions </u> </a>
  	 </h4>
  	 </p>
   </div>


	<b><br>Week 2 (Relational Algebra)</br></b>
	<p>
  <div class="content">
	 <h4><a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > <u> Lecture Notes </u> </a>
	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Workheet2 </u> </a>
	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Solutions </u> </a>
	 </h4>
  </div>
	</p>

	 <b><br>Week 3 (Wrapping up Re Algebra and starting with SQL queries) </b></br>
   <div class="content">
  	 <p>
  	 <h4><a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > <u> Lecture Notes </u> </a>
  	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Workheet3 </u> </a>
  	 <a href="/static/img&docs/lecture.pdf" target="_blank" style="text-decoration:none;" > &nbsp; <u> Solutions </u> </a>
  	 </h4>
  	 </p>
  </div>



<div class="content">
	<b><br> Week 4 (SQL queries) </b> </br> <h4><a href="/static/img&docs/lecture.pdf" target="_blank"> Lecture Notes</a></h4>
</drive>

<div class="content">
	 <b><br>Week 5 (Introduction to Web development) </b></br><h4><a href="/static/img&docs/lecture.pdf" target="_blank"> Lecture Notes</a></h4>
</div>
   <b><br>Week 6 <h4> <u><em>Midterm</b> </br> </u> </em> </h4>

     <b> <br> Week 7 <h4> <em><u>Reading Week</b> </br> </u> </em> </h4></li>

  <div class="content">
	<b> <br> Week 8 (Introduction to HTML and CSS) </b> </br> <h4> <a href="/static/img&docs/lecture.pdf" target="_blank">Lecture Notes</a></h4>
</div>
<div class="content">
  <b> <br> Week 9 (Flexbox in CSS,Media Queries and introduction to JavaScript ) </b> </br> <h4><a href="/static/img&docs/lecture.pdf" target="_blank">Lecture Notes</a></h4>
</div>

<div class="content">
   <b> <br> Week 10 (JavaScript and introduction to JQuery) </b> </br> <h4><a href="/static/img&docs/lecture.pdf" target="_blank">Lecture Notes</a></h4>
</div>

<div class="content">
   <b> <br> Week 11 (Wrapping up JavaScript and Jquery, and revisiting Flask) </b> </br> <h4><a href="/static/img&docs/lecture.pdf" target="_blank"> Lecture Notes</a></h4>
</div>
  </ul>


	</div>
	<br></br>

	<div class="footer">
      <a href="http://web.cs.toronto.edu/people/faculty.htm"><h2>Faculty CS UofT</h2></a>
	  <img src ="/static/img&docs/UofTlogo.jpg" alt="UofT Logo" width="150" height="150">
      <h2>Made by Nabil & Muhammad</h2>
    </div>

  </body>
     
  </html>
