<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 ~ Introduction to Databases and Web Applications </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  {% extends "layout.html" %}
  {% block content %}
  <body>

    <div class="pageheader">Announcements</div>

    <div class="row"><h2>Jan.2</h2></div>
      <div class="row">
      <p>Welcome to CSCB20, Please note that tutorials will begin in week 2</p>
    </div>

	<div class="footer2">
      <a href="http://web.cs.toronto.edu/people/faculty.htm"><h2>Faculty CS UofT</h2></a>
	  <img src ="/static/img&docs/UofTlogo.jpg" alt="UofT Logo" width="150" height="150">
      <h2>Made by Nabil & Muhammad</h2>
    </div>

  </body>

  {% endblock %}
  </html>
