<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSCB20 ~ Introduction to Databases and Web Applications </title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  {% extends "layout.html" %}
  {% block content %}
  <body>


    <div class="pageheader">Tests</div>

    <div class="content">

    <div class="row">
      There will be one midterm. The midterm will be 75min in length. You should
      go to either HW215 or HW216 depending on your last name as shown here.
    </div>

    <div class="row">
      <h2>CSCB20 - Midterm Room Allocation</h2>
    </div>

    <div class="row">
      <ul>
        <li>Monday 13 February @ 5:00 pm</li>
        <li>HW215 (A-HE) -- 48 Students</li>
        <li>HW216 (HO-Z) -- 108 Students</li>
      </ul>
    </div>



    <div class="row">
    <h2>Preparing for the Midterm</h2>
    </div>

    <div class="row">
    <ul>
      <li>Understand all parts of A1.</li>
      <li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.
      Once you have done some preparation, you can practice on a previous midterm: <a href="http://www.utsc.utoronto.ca/~bretscher/b20/tests/testA.pdf">Term Test</a></li>
    </ul>
    </div>

    <div class="row"><h2>Final Exam</h2></div>
    <div class="row">
      <ul>
        <li>Scheduled for <b>April 24th</b></li>
      </ul>

    </div>


    </div>

	<div class="footer">
      <a href="http://web.cs.toronto.edu/people/faculty.htm"><h2>Faculty CS UofT</h2></a>
	  <img src ="/static/img&docs/UofTlogo.jpg" alt="UofT Logo" width="150" height="150">
      <h2>Made by Nabil & Muhammad</h2>
    </div>

  </body>
  {% endblock %}
  </html>
